.query-error {
  padding: 64px 16px;
  text-align: center;
}
.query-error h2 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}
.query-error p {
  margin-top: 8px;
  color: #656565;
}
.query-error button {
  margin-top: 24px;
  height: 48px;
  padding: 0 32px;
  border-radius: 8px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
.query-error button:active {
  transform: translateY(-1px);
}
